In [1]:
import pandas as pd
import numpy as np
import re

In [4]:
df1 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-01.txt.gz", error_bad_lines=False, sep="\t")
df2 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-02.txt.gz", error_bad_lines=False, sep="\t")
df3 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-03.txt.gz", error_bad_lines=False, sep="\t")
df4 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-04.txt.gz", error_bad_lines=False, sep="\t")
df5 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-05.txt.gz", error_bad_lines=False, sep="\t")
df6 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-06.txt.gz", error_bad_lines=False, sep="\t")
df7 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-07.txt.gz", error_bad_lines=False, sep="\t")
df8 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-08.txt.gz", error_bad_lines=False, sep="\t")
df9 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-09.txt.gz", error_bad_lines=False, sep="\t")
df10 = pd.read_csv("data/AOL-user-ct-collection/user-ct-test-collection-10.txt.gz", error_bad_lines=False, sep="\t")
df = df1.append([df2,df3,df4,df5,df6,df7,df8,df9,df10], ignore_index=True)

/Users/jarana/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df = df.drop_duplicates(['AnonID', 'Query'], keep='first')

In [9]:
# remove website query
df = df[~df['Query'].str.lower().str.contains('|'.join(["www.", ".com", ".uk", ".us", ".edu"]), na=False)]

In [ ]:
df["QueryTime"] = pd.to_datetime(df["QueryTime"])

In [5]:
df.columns

Index(['AnonID', 'Query', 'QueryTime', 'ItemRank', 'ClickURL'], dtype='object')

In [10]:
# '|'.join(["send", "group", "email"]
howto = df[df['Query'].str.lower().str.contains("how to", na=False)]

In [15]:
wiki = pd.read_csv("data/wikihowSep.csv", sep=",", error_bad_lines=False)

In [40]:
how = set([])
for i in wiki.title.str.lower().unique().tolist():
    how.add(regex.sub(' ', str(i)).replace("how to","")[1:])

In [12]:
df[df.AnonID == 2722]

,AnonID,Query,QueryTime,ItemRank,ClickURL
570,2722,charles drew,2006-03-01 17:35:12,3,http://inventors.about.com
574,2722,national car rental,2006-03-09 11:24:29,NaN,NaN
575,2722,military,2006-03-10 09:32:03,NaN,NaN
576,2722,military rental benfits,2006-03-10 09:32:33,NaN,NaN
577,2722,military rental benefits,2006-03-10 09:32:38,4,http://www.valoans.com
578,2722,military car rental benefits,2006-03-10 09:33:37,4,http://www.valoans.com
581,2722,deers id cards,2006-03-10 10:32:02,NaN,NaN
582,2722,deers id cards army,2006-03-10 10:32:58,1,http://www.stewart.army.mil
583,2722,tricare,2006-03-16 19:07:38,2,http://www.tricareonline.com
586,2722,publix,2006-03-16 19:10:06,NaN,NaN
590,2722,waldrop hills,2006-03-18 20:16:26,1,http://www.get2own.com
595,2722,sprint phones,2006-03-19 21:13:20,2,http://www.cellularfactory.com
596,2722,fafsa,2006-03-20 15:06:09,1,http://www.fafsa.ed.gov
597,2722,georgia state,2006-03-20 15:20:30,1,http://www.gsu.edu
598,2722,clayton state,2006-03-20 15:24:09,1,http://www.clayton.edu
599,2722,georgia perimeter,2006-03-20 15:27:22,1,http://www.gpc.edu
600,2722,pin.ed.gov,2006-03-20 21:21:03,1,http://pin.ed.gov
601,2722,irs.gov,2006-03-20 21:25:02,1,http://www.irs.gov
602,2722,saint philiphs college,2006-03-20 23:17:43,NaN,NaN
603,2722,saint philip's college,2006-03-20 23:17:52,1,http://www.accd.edu
604,2722,routing number for bank of america military bank,2006-03-20 23:38:14,1,http://www.bankofamerica.com
606,2722,georgia state university,2006-03-20 23:43:22,1,http://www.gsu.edu
607,2722,ssa.gov,2006-03-22 12:16:34,1,http://www.ssa.gov
608,2722,texas marriage lisence,2006-03-22 12:22:46,NaN,NaN
609,2722,texas marriage licence,2006-03-22 12:22:53,1,http://marriage.about.com
610,2722,georgia guardianship laws,2006-03-22 12:59:46,1,http://www.lawhelp.org
617,2722,georgia guardianship laws conservator,2006-03-22 13:12:25,NaN,NaN
618,2722,georgia guardianship laws conservator dekalb c...,2006-03-22 13:13:01,5,http://law.gsu.edu
619,2722,georgia guardianship laws conservator dekalb c...,2006-03-22 13:14:08,3,http://www.state.ga.us
620,2722,dekalb county probate,2006-03-22 13:15:07,1,https://dklbweb.dekalbga.org/courts/probate/pi...
...,...,...,...,...,...
1002,2722,greater lilburn athletic association,2006-05-23 15:51:57,NaN,NaN
1004,2722,tucker cheerlading,2006-05-23 15:59:49,NaN,NaN
1005,2722,tucker cheerleading,2006-05-23 15:59:53,NaN,NaN
1006,2722,cheerleading in tucker georgia,2006-05-23 16:02:01,4,http://www.usgyms.net
1007,2722,cheer camp,2006-05-23 16:10:28,NaN,NaN
1008,2722,ellenwood,2006-05-23 16:15:46,NaN,NaN
1011,2722,microsoft adaware,2006-05-24 14:23:18,2,http://reviews.cnet.com
1015,2722,gwinnett parks,2006-05-24 23:58:35,1,http://www.n-georgia.com
1017,2722,meadow creek georgia,2006-05-25 00:05:51,NaN,NaN
1018,2722,meadow creek georgia football,2006-05-25 00:06:24,NaN,NaN
1019,2722,georgia youth football meadow creek,2006-05-25 00:07:49,NaN,NaN
1020,2722,meadowcreek new mercies youth athletic associa...,2006-05-25 00:10:16,1,http://www.gwinnettdailypost.net
1021,2722,youth athletic associations,2006-05-25 00:14:20,NaN,NaN
1022,2722,meadow creek youth athletic associations,2006-05-25 00:14:45,NaN,NaN
1023,2722,georgia youth athletic associations,2006-05-25 00:16:42,NaN,NaN
1029,2722,city of norcross,2006-05-25 00:53:15,1,http://norcross.georgia.gov
1033,2722,lucky shoals park,2006-05-25 01:05:24,NaN,NaN
1036,2722,best friend park,2006-05-25 01:20:50,1,http://www.onlinestats.com
1037,2722,best friend park georgia,2006-05-25 01:21:41,1,http://www.n-georgia.com
1039,2722,lucky shoals park youth,2006-05-25 01:25:14,NaN,NaN
1040,2722,greater atlanta christian school,2006-05-25 13:54:16,NaN,NaN
1042,2722,youth track and field,2006-05-25 14:34:46,3,http://www.hersheystrackandfield.com
1043,2722,youth track and field georgia,2006-05-25 14:37:42,7,http://silversonics.com
1045,2722,cheerleading summer camp in georgia,2006-05-25 15:12:11,1,http://www.kidscamps.com
1049,2722,gymnastics georgia,2006-05-25 15:27:38,5,http://www.gymsouth.com
1056,2722,car rental,2006-05-25 15:54:36,NaN,NaN
1057,2722,ymca,2006-05-25 15:55:59,1,http://www.ymca.net
1061,2722,autosave car rental,2006-05-25 23:26:54,1,http://eautosave.com
1062,2722,budget car rental,2006-05-25 23:29:53,NaN,NaN
1063,2722,alamo car rental,2006-05-25 23:56:13,NaN,NaN

In [28]:
from datetime import datetime

In [62]:
howto["QueryTime"] = pd.to_datetime(howto["QueryTime"])

/Users/jarana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
howto.head()

,AnonID,Query,QueryTime,ItemRank,ClickURL
754,2722,how to make tulle butterflies,2006-04-12 15:05:40,3,http://www.butterflybreeders.com
7904,13373,how to paint concrete floor,2006-04-21 10:11:57,1,http://interiordec.about.com
9253,15565,pageant hair extentions how tos,2006-04-10 02:28:50,NaN,NaN
11969,26111,how to uninstall a kitchen facuit,2006-05-18 19:15:38,NaN,NaN
11970,26111,how to uninstall a kitchen faucet,2006-05-18 19:15:48,NaN,NaN

754   2006-04-12 15:05:40
Name: QueryTime, dtype: datetime64[ns]

/Users/jarana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,AnonID,Query,QueryTime,ItemRank,ClickURL
11968,26111,types of kitchen sinks,2006-05-18 19:11:56,1,http://www.demesne.info
11969,26111,how to uninstall a kitchen facuit,2006-05-18 19:15:38,NaN,NaN
11970,26111,how to uninstall a kitchen faucet,2006-05-18 19:15:48,NaN,NaN
11971,26111,home depot,2006-05-18 19:19:17,1,http://www.homedepot.com

In [ ]:
%%time
window_size = 30
for index, row in howto.iterrows():
    start_time = howto[howto.AnonID == row['AnonID']].QueryTime.values[0] - pd.Timedelta(minutes=window_size)
    stop_time = howto[howto.AnonID == row['AnonID']].QueryTime.values[0] + pd.Timedelta(minutes=window_size)
    tmp = df[df.AnonID == row['AnonID']]
    ses = '\t'.join(tmp[tmp['QueryTime'].between(start_time, stop_time)]['Query'].tolist())
    
    with open('data/session.csv', 'a+') as the_file:
        the_file.write('%s\n' % ses)